/**
 *  This is for all css that will affect the elements that are above the fold.
 */
/* Media Queries */
/**
 * @Media ( min-width: $small )
 * @Media ( min-width: $medium )
 * @Media ( min-width: $large )
 * @Media ( min-width: $xlarge )
 */
/* End Media Queries */
/* MIXINS */
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

// Output standard non-prefixed declaration
#{$property}: $value;
}

/* TRANSITIONS */
$transition-15s: all 0.15s ease-in-out;
$transition-2s: all 0.2s ease-in-out;
$transition-5s: all 0.5s ease-in-out;

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

@font-face {
    font-family:  'Bodoni MT';
    src: url('../fonts/BOD_BLAR.TTF') format('truetype');
}

/* THEME COLORS */
$section-light: #68003D;
$section-color: #361227;
$btn-color: #891e52;
$btn-hover: #9a2860;
$link-hover: #9a2860;
$footer-light: #0b1b43;
$footer-color: #050d20;

/* THEME FONTS */
$theme-font: Roboto, sans-serif;
$header-font: Bodoni MT;

/* Top Nav import */
@import 'top-navigation.scss';


/* page setup */
html, body {
margin: 0;
padding: 0;
height: 80%;
} 

body {
font-family: $theme-font;
font-size: 1.5em;
font-weight: 300;
}

#page-wrap {
	min-height: 100%;
	position: relative;
}

.full-width {
	padding: 0;
}

.cal-bre-num {
	position: relative;
	z-index: 1;
	color: #fff;
	font-weight: 300;
}

nav.navbar {
	&.navbar-default {
		background-color: $section-color;
		border: none;
		width: 100%;
		margin-bottom: 0;
		z-index: 10;
		.navbar-header {
			height: 80px;
		}
		.navbar-nav {
			> li {
				> a {
					color: #fff;
				}
			}
		}
	}
	.navbar-brand {
		width: 176px;
	}
}

#masthead {
	position: relative;
	font-weight: 300;
	display: block;
	width: 100%;
	background-color: #361227;
	@include prefix( transition, $transition-2s, webkit moz o);
	@media screen and ( min-width: 768px ) {
		position: absolute;
		border-bottom: 1px solid #fff;
		background: rgba(0,0,0,0.3);
		box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.4);
		z-index: 100;
	}
	> .row:first-child {
		padding-top: 15px;
		.cal-bre-num {
			text-align: right;
		}
	}
}

/* MAIN CONTENT */
#main {
	position: relative;
	display: block;
	@include prefix( transition, $transition-2s, webkit moz o);
	section:not(#above-fold) {
		min-height: 355px;
	}
}

.home #main {
	section {
		font-size: 2rem;
		&:first-child {
			padding: 0;
			h2 {
				font-size: 2rem;
				margin-top: 25px;
				@media screen and ( min-width: 768px ) {
					font-size: 3.5rem;
				}
			}
		}
		h2 {
			margin-top: 40px;
			margin-bottom: 25px;
			font-size: 3.5rem;
			font-family: $theme-font;
			@media screen and ( max-width: 767px ) {
				margin-top: 20px;
				margin-bottom: 10px;
			}
		}
		&:nth-child(odd) {
			background: $section-color;
			background: -webkit-linear-gradient(-214deg, $section-light 0%, $section-color 100%);
			background: linear-gradient(-214deg, $section-light 0%, $section-color 100%);
			color: #fff;
			h2 {
				color: #fff;
			}
		}
	}
}

#above-fold {
	position: relative;
	z-index: 0;
	#header-image-wrap {
		max-height: 700px;
		width: 100%;
		padding: 0;
		overflow: hidden;
		img {
			width: 100%;
		}
		&:after {
			content: "";
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			top: 0;
			background: rgba(0,0,0,0.3);
			background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.3) 75%, transparent 100%);
			background: linear-gradient(0deg, rgba(0,0,0,0.3) 75%, transparent 100%);
		}
	}
	.header-message {
		font-weight: 300;
		position: relative;
		top: 25%;
		color: #ffffff;
		letter-spacing: 1px;
		background: rgba(0,0,0,0.5);
		background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.5) 0%, transparent 100%);
		background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, transparent 100%);
		z-index: 100;
		@include prefix( transition, $transition-2s, webkit moz o);
		h2 {
			text-align: left;
		}
		@media screen and ( min-width: 1124px ) {
			position: absolute;
		}
	}

}

section#under-header {
	position: relative;
	min-height: 75px;
	background: transparent;
	z-index: 0;
	@media screen and ( min-width: 768px ) {
		min-height: 125px;
		background: $section-color;
	}
}

.btn-wonka {
	background-color: $btn-color;
	overflow: hidden;
	position: relative;
	border-radius: 0;
	margin: 15px 0;
	padding: 18px 16px;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
	border: none;
	@include prefix( transition, $transition-2s, webkit moz o);
	&:hover {
		background-color: $btn-hover;
		color: #fff;
	}
}

a.logo-link {
	position: relative;
	z-index: 1;
	display: block;
	max-width: 285px;
	margin: auto;
}

#e-state-footer {
	position: absolute;
	display: block;
	width: 100%;
	top: 100%;
	clear: both;
	@include prefix( transition, $transition-2s, webkit moz o);
}
/* end page setup */