/**
 *  This is for all css that will affect the elements that are above the fold.
 */
/* Media Queries */
/**
 * @Media ( min-width: $small )
 * @Media ( min-width: $medium )
 * @Media ( min-width: $large )
 * @Media ( min-width: $xlarge )
 */
/* End Media Queries */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

/* THEME COLORS */
$header-color: #3C6595;
$header-dark: #143B6A;
$footer-color: #8cc07d;

/* THEME FONTS */
$theme-font: Roboto, sans-serif;

/* Top Nav import */
@import 'top-navigation.scss';

/* page setup */
html, body {
margin: 0;
padding: 0;
} 

body {
font-family: $theme-font;
width: 100%;
height: 100%;
position: relative;
}

#masthead {
	position: absolute;
	font-weight: 700;
	display: block;
	height: 120px;
}

#above-fold {
	position: relative;
	z-index: -50;
	#header-image-wrap {
			height: 600px;
			width: 100%;
			overflow: hidden;
		img {
			width: 100%;
		}
	}
}


#main {
	position: relative;
	display: block;
	padding-bottom: 300px;
}

a.logo-link {
	position: relative;
	z-index: 5;
	display: block;
	padding: 15px;
	img {
		width: 85%;
	}
}

#above-fold {

}

#e-state-footer {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0;
	height: 300px;
}
/* end page setup */

