// This file is for the top navigation menu
// @package real_e_state
// @version 1.0.0
// @since 1.0.0

.navigation-top {
	.wrap {
		.flex-div {
			display: flex;
			align-items: flex-end;
			> div {
				position: relative;
				bottom: 0;
				#top-left-menu, #top-right-menu {
					position: relative;
					bottom: 8px;
					z-index: 55;
					@include prefix( transition, $transition-2s, webkit moz o);
					#top-left-nav, #top-right-nav {
						list-style-type: none;
						margin: 0;
						padding: 0;
						font-size: 1.2rem;
						@media screen and ( min-width: 992px ) {
							font-size: 1.5rem;
						}
						li {
							display: inline-block;
							a {
								padding: 8px;
								text-decoration: none;
								text-transform: uppercase;
								letter-spacing: 1px;
								font-weight: 300;
								white-space: nowrap;
								color: #fff;
								@include prefix( transition, $transition-2s, webkit moz o);
								&:hover {
									text-decoration: none;
									color: $link-hover;
									text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
								}
							}
						}
						.menu-item-has-children {
							position: relative;
							.sub-menu {
								position:absolute;
								padding: 0;
								text-align: left;
								@include prefix( transition, $transition-2s, webkit moz o);
								li {
									overflow: hidden;
									height: 0;
									background: rgba(0,0,0,0.4);
									display: block;
									padding: 0;
									@include prefix( transition, $transition-2s, webkit moz o);
								}
							}
							&:hover {
								>.sub-menu {
									>li {
										height: 51px;
										padding: 15px 8px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.navbar-default {
	.navbar-toggle {
		background-color: transparent;
		@include prefix( transition, $transition-2s, webkit moz o);
		&:hover, &:focus {
			background-color: rgba(#000, 0.4);
		}
	}
}

#top-mobile-nav {
	li {
		position: relative;
	}
	.menu-item-has-children {
		.sub-menu {
			list-style-type: none;
			position: relative;
			padding: 0 30px;
			li {
				padding: 5px 15px;
				border-top: 1px solid rgba(#fff, 0.5);
				background: rgba(0,0,0,0.1);
				background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100% );
				background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100% );
				&:first-child {
					border-top: none;
				}
				a {
					color: #fff;
				}
				&:hover {
					a {
						text-decoration: none;
					}
				}
			}
		}
	}
}