/*
 *  This file should have all styles for this page that are below the fold of the page.
 */
/* Media Queries */
/**
 * @Media ( min-width: $small )
 * @Media ( min-width: $medium )
 * @Media ( min-width: $large )
 * @Media ( min-width: $xlarge )
 */
/* End Media Queries */
@import 'above-fold.scss';
@import 'footer.scss';

/* FIRST SECTION */
#social-icons {
	list-style-type: none;
	li {
		display: inline-block;
		padding: 15px;
		i {
			position: relative;
			font-size: 5rem;
			color: #000;
			transition: all .1s ease-in-out;
			top: 0;
		}
		&:hover {
			i {
				top: -3px;
				-webkit-text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
				text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
			}
		}
	}
}
/* END FIRST SECTION */

/* COLORED SECTIONS */
#search-section, #financing-section, #information-section-2 {
	background: $header-color;
	color: #fff;
	h2 {
		color: #fff;
	}
}
/* END COLORED SECTIONS */

/* SEARCH SECTION */

/* END SEARCH SECTION */

/* FOOTER AREA */
#e-state-footer {
	background: $footer-color;
	background: -webkit-linear-gradient(-245deg, $footer-color 0%, $footer-light 100%);
	background: linear-gradient(-245deg, $footer-color 0%, $footer-light 100%);
	color: #ffffff;
	font-weight: 100;
	> .row {
		padding: 8px;
		height: 75px;
		border-top: 1px solid rgba(255,255,255,0.8);
		.powered > span {
			display: block;
			&:first-child {
				display: inline-block;
			}
			img.wonkasoft-logo {
				display: inline-block;
				vertical-align: text-bottom;
			}
		}
		&:first-child {
			border-top: none;
			height: 230px;
		}
	}
	.footer-headers {
		text-align: left;
		padding-left: 2.5em;
		&:last-child {
			text-align: center;
		}
	}
	.footer-menus {
		list-style-type: circle;
		padding-left: 4em;
		font-size: 1.5rem;
		a {
			color: #fff;
		}
	}
	#footer-4 {
		.form-group {
			padding: 0 8px 0 0;
			label {
				margin: 0;
				font-weight: 300;
			}
			button.btn {
				margin-top: .8em;
				width: 100%;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 700;
				background: #E4AA50;
				background: -webkit-linear-gradient(0deg, #E4AA50 0%, #ffffff 100%);
				background: linear-gradient(0deg, #E4AA50 0%, #ffffff 100%);
				transition: all .2s ease-in-out;
				&:hover {
					letter-spacing: 2px;
				}
			}
		}
	}
}


/* END FOOTER AREA */