/*
 *  This file should have all styles for this page that are below the fold of the page.
 */
/* Media Queries */
/**
 * @Media ( min-width: $small )
 * @Media ( min-width: $medium )
 * @Media ( min-width: $large )
 * @Media ( min-width: $xlarge )
 */
/* End Media Queries */
@import 'above-fold.scss';
@import 'footer.scss';


/* ANIMATIONS */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 2px, 3px);
  }
  
  20%, 80% {
    transform: translate3d(2px, -2px, -1px);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, -4px, 3px);
  }

  40%, 60% {
    transform: translate3d(5px, -5px, -3px);
  }
}

/* FIRST SECTION */
#social-icons {
	list-style-type: none;
	padding: 0;
	li {
		display: inline-block;
		padding: 15px;
		i {
			position: relative;
			font-size: 4rem;
			color: rgba(0,0,0,0.2);
			transition: all .2s ease-in-out;
			top: 0;
		}
		&:hover {
			i {
				top: -3px;
				color: #E4AA50;
				-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
				text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
			}
		}
	}
}
/* END FIRST SECTION */

/* SEARCH SECTION */

/* END SEARCH SECTION */

/* TESTIMONIALS SECTION */
#testimonial-section {
	height: 460px;
	overflow: hidden;
	.testimonial-module {
		height: 375px;
		img {
			padding: 15px;
			width: 20rem;
			border-radius: 50%;
		}
	}
	.carousel-control {
		.glyphicon {
			top: 47%;
			font-size: 4rem;
		}
	}
}

/* END TESTIMONIALS SECTION */

/* SCHOOL RATINGS SECTION */

/* END SCHOOL RATINGS SECTION */

/* SELLERS CHECKLIST SECTION */

/* END SELLERS CHECKLIST SECTION */

/* ABOUT SECTION */
#about-section {
	.about-image {
		width: 500px;
	}
}

/* END ABOUT SECTION */

/* FOOTER AREA */
#e-state-footer {
	background: $footer-color;
	background: -webkit-linear-gradient(-245deg, $footer-color 0%, $footer-light 100%);
	background: linear-gradient(-245deg, $footer-color 0%, $footer-light 100%);
	color: #ffffff;
	font-weight: 100;
	.container-fluid {
		> .row {
			display: block;
			padding: 8px;
			border-top: 1px solid rgba(255,255,255,0.8);
			.powered {
				padding-left: 40px;
				> span {
					display: block;
					font-size: 1.3rem;
					&:first-child {
						display: inline-block;
						&:hover .wonkasoft-logo {
							animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
							transform: translate3d(0, 0, 0);
							backface-visibility: hidden;
							perspective: 1000px;
						}
						a {
							color: #fff;
							transition: all .2s ease-in-out;
							&:hover {
								text-decoration: none;
								color: #E4AA50;
							}
						}
					}
					img.wonkasoft-logo {
						display: inline-block;
						position: relative;
						vertical-align: text-bottom;
						max-width: 20px;
						transition: all .2s ease-in-out;
					}
				}
			}
			&:first-child {
				border-top: none;
				> div > div {
					min-width: 230px;
					min-height: 238px;
					.footer-headers {
						text-align: left;
						padding-left: 2.5em;
					}
					&:last-of-type .footer-headers {
						text-align: center;
						padding-left: 0;
					}
				}
			}
			.footer-logo {
				padding: 15px;
				width: 300px;
			}
		}
	}	
	.footer-menus {
		list-style-type: circle;
		padding-left: 4em;
		font-size: 1.5rem;
		transition: all .2s ease-in-out;
		a {
			color: #fff;
			font-weight: 300;
			transition: all .2s ease-in-out;
			&:hover {
				text-decoration: none;
				color: #E4AA50;
			}
		}
		@media screen and ( max-width: 1024px ) and ( -webkit-min-device-pixel-ratio: 2) {
			line-height: 3rem;
		}
	}
	#footer-4 {
		.form-group {
			padding: 0 8px 0 0;
			label {
				margin: 0;
				font-weight: 300;
			}
			button.btn {
				margin-top: .8em;
				width: 100%;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 700;
				background: #E4AA50;
				background: -webkit-linear-gradient(0deg, #E4AA50 0%, #ffffff 100%);
				background: linear-gradient(0deg, #E4AA50 0%, #ffffff 100%);
				transition: all .2s ease-in-out;
				&:hover {
					letter-spacing: 2px;
				}
			}
		}
	}
}

/* END FOOTER AREA */