/*
 *  This file should have all styles for this page that are below the fold of the page.
 */
/* Media Queries */
/**
 * @Media ( min-width: $small )
 * @Media ( min-width: $medium )
 * @Media ( min-width: $large )
 * @Media ( min-width: $xlarge )
 */
/* End Media Queries */
@import 'above-fold.scss';
@import 'footer.scss';


/* ANIMATIONS */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 2px, 3px);
  }
  
  20%, 80% {
    transform: translate3d(2px, -2px, -1px);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, -4px, 3px);
  }

  40%, 60% {
    transform: translate3d(5px, -5px, -3px);
  }
}
@keyframes moreInfo {
  0% {
    top: 0px;
  }
  50% {
    top: 4px;
  }
  100% {
    top: 0px;
  }
}
@keyframes moreInfoup {
  0% {
    top: 0px;
  }
  50% {
    top: -4px;
  }
  100% {
    top: 0px;
  }
}
@keyframes growing {
  0% {
    font-size: 2rem;
  }
  33.3% {
    font-size: 3rem;
  }
  66.3% {
    font-size: 2.3rem;
  }
  100% {
    font-size: 3.5rem;
  }
}

/* FIRST SECTION */
#social-shares {
	list-style-type: none;
	padding: 0;
	li {
		display: inline-block;
		padding: 15px;
		i {
			position: relative;
			font-size: 4rem;
			color: rgba(0,0,0,0.2);
			transition: all .2s ease-in-out;
			top: 0;
		}
		&:hover {
			i {
				top: -3px;
				color: $link-hover;
				-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
				text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
			}
		}
	}
}
/* END FIRST SECTION */

/* SEARCH SECTION */
.search-area {
	padding-bottom: 1em;
	.wpl_search_from_box.wpl-search-sidebar {
		.search_submit_box {
			position: relative;
			.wpl_search_widget_submit {
				background: $btn-color;
				transition: all .3s ease-in-out;	
			}
			&:hover {
				color: #fff;
				.wpl_search_widget_submit {
					background: $btn-hover;
				}
			}
		}
		.more_search_option {
			color: #fff;
			border: none;
			&:after {
				position: relative;
				top: 0;
				transition: all .2s ease-in-out;
			}
			&:hover {
				&:after {
				animation: moreInfo 0.5s infinite;
				}
			}
			&.active {
				&:hover {
					&:after {
						animation: moreInfoup 0.5s infinite;
					}
				}
			}
		}
	}
	.wpl_carousel_container.current-listings {
		padding: 15px 225px;
		.simple_list {
			li {
				box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.3);
				.right_section {
					a {
						color: #fff;
						-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0);
						text-shadow: 0px 1px 1px rgba(0,0,0,0);
						transition: all .2s ease-in-out;
					}
					.location {
						color: #fff;
						-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0);
						text-shadow: 0px 1px 1px rgba(0,0,0,0);
						transition: all .2s ease-in-out;
					}
					.price {
						font-size: 2rem;
						-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0);
						text-shadow: 0px 1px 1px rgba(0,0,0,0);
						transition: all .5s ease-in-out;
					}
				}
				&:hover {
					.right_section {
						background: rgba(#29a9df,0.7);
						a {
							text-decoration: none;
							color: $link-hover;
							-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
							text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
						}
						.location {
							-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
							text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
						}
						.price {
							animation: growing 0.5s;
							font-size: 3.5rem;
							-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
							text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
						}
					}
				}
			}
		}
	}
}
/* END SEARCH SECTION */

/* TESTIMONIALS SECTION */
#testimonial-section {
	height: 460px;
	overflow: hidden;
	.carousel-inner {
		padding-left: 25%;
		padding-right: 25%;
		.testimonial-module {
			height: 375px;
			img {
				padding: 15px;
				width: 20rem;
				border-radius: 50%;
			}
		}
	}
	.carousel-control {
		.glyphicon {
			top: 47%;
			font-size: 4rem;
		}
	}
}

/* END TESTIMONIALS SECTION */

/* SCHOOL RATINGS SECTION */

/* END SCHOOL RATINGS SECTION */

/* SELLERS CHECKLIST SECTION */

/* END SELLERS CHECKLIST SECTION */

/* ABOUT SECTION */
#about-section {
	.about-image {
		width: 500px;
	}
}

/* END ABOUT SECTION */

/* FOOTER AREA */
#e-state-footer {
	background: $footer-color;
	background: -webkit-linear-gradient(-214deg, $footer-light 0%, $footer-color 100%);
	background: linear-gradient(-214deg, $footer-light 0%, $footer-color 100%);
	color: #ffffff;
	font-weight: 100;
	.container-fluid {
		> .row {
			display: block;
			padding: 8px;
			border-top: 1px solid rgba(255,255,255,0.8);
			.powered {
				padding-left: 40px;
				> span {
					display: block;
					font-size: 1.3rem;
					&:first-child {
						display: inline-block;
						&:hover .wonkasoft-logo {
							animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
							transform: translate3d(0, 0, 0);
							backface-visibility: hidden;
							perspective: 1000px;
						}
					}
					a {
						color: #fff;
						transition: all .2s ease-in-out;
						&:hover {
							text-decoration: none;
							color: $link-hover;
						}
					}
					img.wonkasoft-logo {
						display: inline-block;
						position: relative;
						vertical-align: text-bottom;
						max-width: 20px;
						transition: all .2s ease-in-out;
					}
				}
			}
			&:first-child {
				border-top: none;
				> div > div {
					min-width: 230px;
					min-height: 238px;
					.footer-headers {
						text-align: left;
						padding-left: 2.5em;
					}
					&:last-of-type .footer-headers {
						text-align: center;
						padding-left: 0;
					}
				}
			}
			.footer-logo {
				padding: 15px;
				width: 300px;
			}
		}
	}	
	.footer-menus {
		list-style-type: circle;
		padding-left: 4em;
		font-size: 1.5rem;
		transition: all .2s ease-in-out;
		a {
			color: #fff;
			font-weight: 300;
			transition: all .2s ease-in-out;
			&:hover {
				text-decoration: none;
				color: $link-hover;
			}
		}
		@media screen and ( max-width: 1024px ) and ( -webkit-min-device-pixel-ratio: 2) {
			line-height: 3rem;
		}
	}
	#footer-2-wrap {
		.row {
			padding-top: 25px;
			padding-right: 145px;
			.social-links {
				i {
					position: relative;
					font-size: 3rem;
					top: 0;
					color: rgba(255,255,255,0.5);
					transition: all .2s ease-in-out;
				}
				&:hover {
					i {
						top: -4px;
						color: $link-hover;
						-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
						text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
					}
				}
			}
		}
	}
	#footer-4 {
		.form-group {
			padding: 0 8px 0 0;
			label {
				margin: 0;
				font-weight: 300;
			}
			button.btn {
				margin-top: .8em;
				width: 100%;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 700;
				background: $link-hover;
				background: -webkit-linear-gradient(0deg, $btn-color 0%, #ffffff 100%);
				background: linear-gradient(0deg, $btn-color 0%, #ffffff 100%);
				transition: all .2s ease-in-out;
				&:hover {
					letter-spacing: 2px;
				}
			}
		}
	}
}

/* END FOOTER AREA */